body {
    margin: 0;
    padding: 0;
    /* background-image: url("../image/background-img.jpg"); */
    background:linear-gradient(to top, rgba(0,0,0,0) 10%, rgba(0,0,0,1)), url("../image/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    color: white;
    backdrop-filter: blur(5px);
    width: 80%;
    margin: auto;
}
#main-container{
    margin-bottom: 130px;
}
#main-container .jumbotron h1{
    font-size: 6rem;
}

.btn-menu {
    margin-top: 50px;
}

.btn-menu button{
    background-color: transparent;
    padding: 12px 32px;
    color: white;
    border: 1px solid white;
    display: flex;
    cursor: pointer;
}

.btn-menu button span{
    padding-left: 15px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #555;
}

nav.stroke ul li a{
  position: relative;
}

nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.jumbotron {
    margin-left: 32vw;
    margin-top: 13vw;
    margin-right: 3vw;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.container p{
    font-family: var(--bs-font-sans-serif);
}

#second-container {
    margin-top: 170px;
    height: 100vh;
    background-color: white;
    position: relative;
}
#second-container h1{
    position: absolute;
    width: 100%;
    top: 50px;
    text-align: center;
    font-family: "Protest Riot", sans-serif;
    font-size: 5rem;
}

.card {
    position: absolute;
    width: 14rem;
    top: 200px;
    text-align: center;
}
.card img {
    width: 100%;
    height: 22vw;
    object-fit: cover;

}
.card-container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

footer {
    color: white;
    width: 100%;
    margin-top: 50px;
}

footer h1 {
    text-align: center;
    font-size: 1.2rem;
}
#carouselExampleIndicators {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    margin-bottom: 65px;
}

.carousel-item img{
    width: 50%;
    height: auto;
    margin: auto;
}

#menu-section {
    margin-left: 32vw;
    margin-top: 5vw;
    margin-right: 3vw;
}

.menu-selection {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-image {
    width: 50%;
    display: flex;
    align-items: center;
}
.menu-image h1 {
    margin-left: 50px;
    color: white;
    font-family: "Protest Riot", sans-serif;
    text-align: center;
}

.calc-price .table {
    width: 50%;
    color: white;
}

#btn-book {
    margin-top: 20px;
    width: 50%;
}

@media (min-width:321px) and (max-width:400px) {
    nav {
        width: 100%;
    }
    .lead {
        width: 90%;
        margin: auto;
        font-size: 2rem;
    }

    #main-container .jumbotron{
        margin: 0;
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }
    #main-container .jumbotron h1{
        font-size: 3.5rem;
        width: 80%;
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
    }
    #second-container h1 {
        font-size: 3.5rem;
    }
    .btn-menu{
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
        margin-bottom: 50px;
    }
    #second-container {
        margin-top: 100px;
        height: 210vh;
    }
    .card {
        width: 7rem;
        margin: auto;
    }
    .card-container{
        flex-direction: column;
    }
    #menu-section{
        margin: auto;
    }
    .menu-image, .menu-selection, .table{
        width: 75%;
        margin: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .menu-selection {
        flex-direction: column;
    }
    .menu-image h1 {
        margin: auto;
    }
    #btn-book {
        width: 75%;
        margin: auto;
        margin-top: 40px;
    }
    footer h1 {
        font-size: 0.6rem;
    }
}