body {
    margin: 0;
    padding: 0;
    /* background-image: url("../image/background-img.jpg"); */
    background:linear-gradient(to top, rgba(0,0,0,0) 10%, rgba(0,0,0,1)), url("../image/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: content-box;
}

nav {
    color: white;
    backdrop-filter: blur(5px);
    width: 80%;
    margin: auto;
}
