body {
    margin: 0;
    padding: 0;
    /* background-image: url("../image/background-img.jpg"); */
    background:linear-gradient(to top, rgba(0,0,0,0) 10%, rgba(0,0,0,1)), url("../image/background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: content-box;
}

nav {
    color: white;
    backdrop-filter: blur(5px);
    width: 80%;
    margin: auto;
}

#main-container{
    margin-left: 450px;
    margin-top: 150px;
    margin-right: 50px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
#main-container h1{
    font-size: 7rem;
}

.btn-menu {
    margin-top: 50px;
}

.btn-menu button{
    background-color: transparent;
    padding: 12px 32px;
    color: white;
    border: 1px solid white;
    display: flex;
    cursor: pointer;
}

.btn-menu button span{
    padding-left: 15px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}